<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Developer</title>
    <!--Container for metadata (is not displayed)
    Title, Style, Link, Scripts, Meta and others
   -->
</head>
<body>


     Welcome to Java Spring developer Course
     <h1>Spring boot </h1>
     <h2> Spring boot </h2>
     <h3> Spring boot </h3>


<h1 align="center" style="color: aquamarine">SpringBoot</h1>
<img src="springboot.png" alt="Spring boot image">
<ul>
    <li>MVC</li>
    <li>ORm</li>
    <li>API</li>

</ul>

<a href="https://amazon.com">Amazon</a>
<table>
    <tr>
    <td>Loop</td>
    <td>collection</td>
    <td>Stream</td>
    </tr>


</table>
     <!--form -->
     <label> User name :</label>
<input type="text" name="username"><br>
<label>Password:</label>
<input type="password"><br>

<label>Enter your comments</label>
<textarea name="comments"></textarea>
<label>Please select your favorait subject </label><br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC
<input type="radio" name="Spring" value="Di" checked="checked">DI
<input type="radio" name="Spring" value="MVC" >MVC

<label>Please select your company </label><br>
<input type="checkbox"name="company" value="Bank of America">BOA
<input type="checkbox"name="company" value="south west airline">SWE
<input type="checkbox"name="company" value="limited">LTD
     <br>

<label>Select your car </label><br>
<select name="cars">
    <option value="honda">Honda</option>
    <option value="nissan">Nissan</option>
    <option value="toyota">Toyota</option>
</select>

<br>

<form action="#" method="get">
    First name:<input type="text" name="first_name"/>
    <br>
    Last name: <input type="text" name="last_name"/>
</form>
<div>
    <h3>This is java developer course </h3>
    <ul>
        <li>Spring Framework</li>
        <li>Security</li>
        <li>Unit testing</li>
    </ul>
</div>




</body>
</html>